@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Figtree, Arial, sans-serif;
}

body {
  background-color: #424242;
  color: #eaebed;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 5;
}

nav.blurred-background {
  position: absolute; /* or sticky, depending on your layout */
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem 2rem;

  background: transparent; /* translucent layer */
  backdrop-filter: blur(10px); /* creates the blur effect */
  -webkit-backdrop-filter: blur(10px); /* Safari support */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.2); */

  color: white;
  z-index: 1000;
  transition: height 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.logo-container img {
  width: 60px;
  margin-right: 1rem;
}

.logo-container p {
  font-size: 3rem;
}

.logo-container-left {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container button {
  display: none;
}

.links-container a {
  color: #fff;
  text-decoration: none;
  margin: 0 1rem;
  font-size: 1.5rem;
}

.btn-container button {
  background-color: rgb(80, 194, 249);
  padding: 1rem 2rem;
  border: none;
  border-radius: 1000px;
  font-size: 1.2rem;
}

/*** HEADER STYLES ***/
.header-section {
  background-image: url("header-1.webp");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  position: relative;
  /* transition: 5s; */

  /* animation-name: animate;
  animation-direction: alternate-reverse;
  animation-duration: 30s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-play-state: running;
  animation-timing-function: ease-in-out; */
}

/* @keyframes animate {
  0% {
    background-image: url("header-1.webp");
  }

  25% {
    background-image: url("header-1.webp");
  }

  50% {
    background-image: url("header-1.webp");
  }

  75% {
    background-image: url("header-1.webp");
  }
} */

.gradient-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.8),
    rgba(0, 0, 0, 0.75)
  );
  z-index: 1;
}

.cta-text {
  position: absolute;
  top: 40%;
  left: 20%;
  z-index: 99;
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.cta-text h2 {
  font-size: 4cap;
}

.cta-text p {
  font-size: 2rem;
  font-style: italic;
}


/*** FULL VIDEO STYLES ***/
.video-row::before,
.video-row::after {
  content: "";
  position: absolute;
  left: 0;
  width: 100%;
  height: 100px; /* adjust softness size */
  pointer-events: none;
  z-index: 2;
}

.video-row {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
  gap: 30px;
  position: relative;
}

.full-video-container {
  width: 75%;
  position: relative;
  padding-bottom: 36.25%;
  /* 16:9 aspect ratio (height/width) */
  overflow: hidden;
  margin: 0 auto;
  display: flex;
}

.full-video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.full-video-text {
  color: #fff;
  font-size: 3rem;
}

.full-video-btn-link {
  color: #fff;
  text-decoration: none;
  font-size: 2rem;
  border: 2px solid #fff;
  padding: 10px;
}

.full-video-btn-link:hover {
  cursor: pointer;
  filter: brightness(85%);
  transition: 0.3s ease-in-out;
  background-color: black;
}

#reviews-section h2,
#contact-section h2{
  font-size: 5rem;
  margin: 2rem;
}

#reviews-section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding: 1rem;
  gap: 1rem;
  background-color: #0e0e0e;
}

.reviews-wrapper {
  width: 100%;
  font-size: 1.3rem;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 1rem;
}

.review-card {
  flex: 1 1 33%;
  background-color: #424242;
  display: flex;
  flex-direction: column;
  justify-content: start;
  padding: 4rem 2rem;
  gap: 1rem;
  height: 100%;
}

.review-card h3 {
  text-align: center;
  font-size: 2rem;
}

.star-container {
  width: 100%;
  text-align: center;
  font-size: 8rem;
}

/**FIND OUT WHY YOUTUBE BTN DOESNT WORK***/

.about-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("about-bkgd.webp");
  background-color: rgb(239, 239, 239);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  /* gap: 2rem; */
}

.about-container h2 {
  font-size: 3rem;
  margin-top: 2rem;
}

.about-wrapper {
  display: flex;
  justify-content: start;
  flex-wrap: wrap;
  padding: 1rem;
  gap: 1rem;
  width: 100%;
}

.about-card {
  flex: 1 1 30%;
  /* width: 50%; */
  display: flex;
  flex-direction: column;
  /* box-shadow: 0 2px 4px #0003, 0 6px 20px #00000030; */
  /* border-radius: 1rem; */
  /* border: 1px solid #fff; */
  overflow: hidden;
}

.about-card-img {
  height: 400px;
}

.about-card-img img {
  width: 100%;
  min-height: 400px;
  object-fit: cover;
  display: block;
}

.about-card-text {
  flex-basis: 67%;
  padding: 1rem;
  line-height: 1.5;
  background-color: rgb(255, 255, 255);
  /* color: #000120; */
  color: #1a1a1a;
}

.about-card-text p {
  font-size: 1.2rem;
}

.h2-class {
  text-align: center;
  font-size: 3rem;
  margin: 2rem 0;
}

.photo-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}

.photo-row {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 1rem;
  flex-wrap: wrap;
}

.photo-card {
  flex: 1;
  position: relative;
}

.photo-card img {
  width: 100%;
  height: 100%;
  /* border-radius: 1rem; */
  /* border: 1px solid #fff; */
  box-shadow: 0 2px 4px #0003, 0 6px 20px #00000030;
}

.img-caption {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 1rem;
  font-size: 1.5rem;
  text-align: center;
  /* border-left: 1px solid #fff;
  border-right: 1px solid #fff;
  border-bottom: 1px solid #fff;
  border-radius: 0 0 1rem 1rem; */
}

.video-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.video-row {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.video-card {
  text-align: center;
  padding: 1rem;
  width: 25%;
  min-width: 300px;
  max-width: 400px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
  /* background-color: #fff; */
  /* box-shadow: 0 2px 4px #0003, 0 6px 20px #00000030; */
}

.video-card img {
  width: 100%;
  margin-top: 1rem;
}

.link-container {
  position: relative;
  width: 100%;
}

.link-container a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #efefef;
  padding: 0.5rem;
  text-decoration: none;
  font-size: 2.4rem;
  transition: color 0.3s ease-in-out;
}

.link-container a:hover {
  color: #adadad;
}

.personal-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}

.personal-work p {
  color: #fff;
  text-align: center;
}

.artist-horizontal-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: start;
  /* flex-wrap: wrap; */
  gap: 1rem;
  width: 60%;
}

.artist-container {
  flex-basis: 33%;
  display: flex;
  flex-direction: column;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 1rem;
  padding: 1rem;
  text-align: center;
  gap: 2rem;
}

.artist-icons {
  width: 100%;
  display: flex;
  gap: 1rem;
  justify-content: center;
}

.artist-icons i {
  font-size: 2rem;
  color: #fff;
  transition: transform 0.3s ease-in-out;
}

.artist-icons i:hover {
  transform: translateY(-5px);
}

.artist-container h3 {
  font-size: 2rem;
}

.releases {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
}

.releases img {
  width: 20%;
  border-radius: 12px;
  border: 1px solid;
}

@media (max-width: 768px) {
  nav.blurred-background {
    position: fixed;
    display: block;
    flex-direction: column;
    justify-content: start;
    padding: 1rem;
    gap: 1rem;
    height: 100px;
    overflow: hidden;
    transition: height 0.3s ease-in-out;
    background-color: #000;
  }

  .blurred-background.active {
    height: 100vh;
    background-color: #000000;
  }

  .links-container {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .logo-container {
    justify-content: space-between;
    padding: 1rem 0;
  }

  .logo-container img {
    width: 40px;
    margin-right: 1rem;
  }

  .logo-container p {
    font-size: 2rem;
  }

  .mobile-nav-btn {
    width: 30px;
    height: 30px;
    padding: 0.2rem;
    border-radius: 50%;
    position: relative;
    transition: transform 0.3s ease;
  }

  /* when active, rotate 90 degrees */
  .mobile-nav-btn.active {
    transform: rotate(225deg);
  }

  .inner-circle {
    width: 12px;
    height: 12px;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.3s ease;
  }

  .inner-circle.active {
    background-color: rgb(80, 194, 249);
  }

  .mobile-nav-btn .inner-circle:nth-child(1) {
    position: absolute;
    left: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }

  .mobile-nav-btn .inner-circle:nth-child(2) {
    position: absolute;
    right: 0%;
    top: 0%;
    transform: translate(0%, 0%);
  }

  .mobile-nav-btn .inner-circle:nth-child(3) {
    position: absolute;
    bottom: 0%;
    right: 0%;
    transform: translate(0%, 0%);
  }

  .mobile-nav-btn .inner-circle:nth-child(4) {
    position: absolute;
    left: 0%;
    bottom: 0%;
    transform: translate(0%, 0%);
  }

  .logo-container button {
    display: block;
  }

  .links-container {
    margin-top: 1rem;
  }

  .btn-container {
    margin-top: 1rem;
  }

  .header-section {
    background-attachment: scroll;
    background-position: 80%;
    overflow: hidden;
  }

  .cta-text {
    top: 30%;
    left: 10%;
    width: 80%;
    text-align: center;
  }

  .gradient-overlay {
     background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.6),
    rgba(0, 0, 0, 0.75)
  );
  }

  .video-row {
    padding: 2rem 1rem;
  }

    .full-video-container {
    width: 100%;
    position: relative;
    padding-bottom: 66.25%;
    /* 16:9 aspect ratio (height/width) */
    overflow: hidden;
    display: flex;
  }

  .full-video-text {
    font-size: 2rem;
  }

  #reviews-section {
    height: 100%;
  }

  #reviews-section h2 {
    font-size: 2rem;
    text-align: center;
  }

  .reviews-wrapper {
    flex-direction: column;
    gap: 1rem;
  }

  .review-card {
    padding: 1rem;
  }

  .review-card img {
    width: 100%;
  }

  .photo-card {
    flex: 1 1 100%; /* stack cards vertically on small screens */
  }

  .img-caption {
    font-size: 1.2rem;
  }

  .about-container {
    background-attachment: scroll;
  }

  .about-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 0;
  }

  .about-card {
    width: 90%;
    flex-direction: column;
  }

  .about-card-img {
    flex-basis: 33%;
  }

  .about-card-img img {
    width: 100%;
    height: 100%;
    object-position: top;
  }

  .about-card-text {
    flex-basis: 67%;
    padding: 1rem;
  }

  .video-card {
    width: 100%;
  }

  .artist-horizontal-container {
    flex-direction: column;
    align-items: start;
    width: 100%;
  }

  .artist-container {
    flex-basis: 100%;
  }

  .releases {
    gap: 0.5rem;
  }

  .releases img {
    width: 25%;
    border-radius: 8px;
  }
}
