@import url("https://fonts.googleapis.com/css2?family=Inter&family=Oxanium:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fleur+De+Leah&family=Oxanium:wght@200..800&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter, "Times New Roman", Times, serif;
  scroll-behavior: smooth;
}

body {
  color: #000;
}

.food-blog-header {
  width: 100%;
  height: 100vh;
  background-image: url("images/header.webp");
  background-size: cover;
  background-repeat: none;
  background-position: center;
}

.food-blog-header div {
  flex: 1 1 33%;
}

.blog-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  background-color: #ffecd8;
 padding: 2rem 0;
}

.food-blog-header h1 {
  font-size: 6rem;
color: #fff;
position: absolute;
bottom: 0;
letter-spacing: .1rem;
text-align: center;
width: 100%;
background-color: rgba(0,0,0,.5);
}

span {
  color: #ffffff;
  font-style: italic;
  font-family: Inter, Arial, Helvetica, sans-serif;
  text-transform: uppercase;
}

/* .blog-wrapper p {
  font-size: 2rem;
} */

.controls {
  display: flex;
  gap: 0.5rem;
}

.controls input,
.controls select {
  font-size: 1.3rem;
  padding: 0.5rem;
}

.blog-logo {
  width: 20%;
}

.blog-container {
  display: flex;
  justify-content: center;
  align-items: start;
  gap: 0.5rem;
  flex-wrap: wrap;
  width: 100%;
  padding: 0.5rem;
}

.blog-card {
  flex: 0 0 32%;
  background-color: #fff8f7;
  color: #000;
  padding: 1rem 1rem 2rem 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  font-size: 1.1rem !important;
  align-items: start;
  text-align: left;
  -webkit-appearance: none;
    -moz-appearance: none;
    box-shadow: 0 1px 2px #0003, 0 3px 10px #00000030;
}

.date-separator {
  border: none; /* remove default styling */
  border-top: 1px solid #ccc; /* visible gray line */
  margin: 0.5rem 0; /* spacing above/below */
  width: 100%; /* full width of container */
}

.blog-card a {
  font-weight: bolder;
  font-size: 1.3rem;
}

.blog-image {
  width: 100%;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  transition: filter .3s ease-in-out;
}

.blog-image:hover {
 filter: brightness(85%);
}

.date-box {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.date-country-box {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.date-country-box .date-box {
  flex: 1 1 48%;
}

.flag {
  width: 20%;
}

@media (max-width: 768px) {
  .food-blog-header h1 {
  font-size: 2rem;
  padding: 1rem 0;
  }
  .blog-card {
    flex: 1 1 100%;
  }

  .controls {
    flex-direction: column;
  }
}
