.thanks-message-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  gap: 20px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thanks-message-container a {
    text-decoration: none;
}

.thanks-message-container button {
  width: 150px;
  display: block;
  margin: 0 auto;
  background-color: transparent;
  color: var(--text-color);
  padding: 12px;
  font-size: 1rem;
  border: 2px solid var(--text-color);
  background-color: var(--blue-color);
}

.thanks-message-container button:hover {
    cursor: pointer;
    filter: brightness(85%);
    transition: .3s ease-in-out;
}

